<nav class="main-nav">
    <!-- ***** Logo Start ***** -->
    <a href="index.html" class="logo">
        <h1>Villa</h1>
    </a>
    <!-- ***** Logo End ***** -->
    <!-- ***** Menu Start ***** -->
    <ul class="nav">
      <li><a href="{% url 'property-index' %}" class="{% if request.path == '/' %}active{% endif %}">Home</a></li>
      <li><a href="properties.html">Properties</a></li>
      <li><a href="property-details.html">Property Details</a></li>
      <li><a href="{% url 'property-contact' %}" class="{% if request.path == '/contact' %}active{% endif %}">Contact Us</a></li>
      <li><a href="#"><i class="fa fa-calendar"></i> Schedule a visit</a></li>
  </ul>   
    <a class='menu-trigger'>
        <span>Menu</span>
    </a>
    <!-- ***** Menu End ***** -->
</nav>