{% extends 'layout.html' %}
{% load static %}

{% block css-files %}
<link rel="stylesheet" href="{% static 'challanges/'|add:css %}" />
{% endblock %}

{% block title %}{{ title|title }}{% endblock title %}

{% block body %}
<div>
    <h1>{{ header|title }}</h1>
    <ul>
        {% for month in months %}
            {% if month == '' %}
                <!-- continue -->
            {% else %}
                <li>{{forloop.counter|add:"-1"}} - <a href="{% url 'monthly-challange' month %}">{{ month }}</a></li>
            {% endif %}
        {% endfor %}
    </ul>
</div>
{% endblock %}